apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: healthcp-test-0223-e5742-dev
  namespace: argocd
  labels:
    app: healthcp-test-0223-e5742
    environment: dev
    tenant: opsera
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/Opsera-Test/healthcp.git
    targetRevision: main
    path: .opsera-healthcp-test-0223-e5742/k8s/overlays/dev
  destination:
    name: opsera-usw2-np
    namespace: opsera-healthcp-test-0223-e5742-dev
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - PruneLast=true
      - ApplyOutOfSyncOnly=true
      - ServerSideApply=true
    retry:
      limit: 5
      backoff:
        duration: 10s
        factor: 2
        maxDuration: 3m
