apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: opsera-test-2-dev
  namespace: argocd
  labels:
    app.kubernetes.io/name: test-2
    app.kubernetes.io/part-of: opsera-test-2
    tenant: opsera
    environment: dev
  annotations:
    notifications.argoproj.io/subscribe.on-sync-succeeded.slack: deployments
    notifications.argoproj.io/subscribe.on-sync-failed.slack: deployments
    notifications.argoproj.io/subscribe.on-health-degraded.slack: alerts
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/Opsera-Test/healthcp.git
    targetRevision: main
    path: .opsera-test-2/k8s/overlays/dev
  destination:
    name: opsera-usw2-np
    namespace: opsera-test-2-dev
  syncPolicy:
    automated: null
    syncOptions:
      - CreateNamespace=true
      - PrunePropagationPolicy=foreground
      - PruneLast=true
      - ApplyOutOfSyncOnly=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
  ignoreDifferences:
    - group: apps
      kind: StatefulSet
      jsonPointers:
        - /spec/volumeClaimTemplates/0/apiVersion
        - /spec/volumeClaimTemplates/0/kind
