# Base kustomization - NO images: (RULE: images only in overlays)
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
commonLabels:
  app: hcp-0207
  app.kubernetes.io/name: hcp-0207
  app.kubernetes.io/component: frontend
